{% extends "base.html" %}

{% block content %}
<article>
    <h2>Mentions Légales</h2>
    <section>
        <h3>1. Informations Générales</h3>
        <p>Ce site est édité par :
        Nom de l'entreprise : The Bird Realm,
        Adresse : 123 Rue des Oiseaux, 75000 Paris,
        Email : contact@oiseausite.fr,
        Téléphone : +33 1 23 45 67 89</p>
    </section>

    <section>
        <h3>2. Hébergement</h3>
        <p>Le site est hébergé par :
        Nom de l'hébergeur : Nom de l'Hébergeur,
        Adresse de l'hébergeur : Adresse de l'Hébergeur,
        Téléphone de l'hébergeur : Numéro de l'Hébergeur</p>
    </section>

    <section>
        <h3>3. Propriété Intellectuelle</h3>
        <p>Tous les contenus présents sur le site (textes, images, illustrations, logos, icônes, etc.) sont protégés par les lois en vigueur sur la propriété intellectuelle et appartiennent à The Bird Realm ou à des tiers ayant autorisé leur utilisation.</p>
    </section>

    <section>
        <h3>4. Limitation de Responsabilité</h3>
        <p>The Bird Realm ne pourra être tenu responsable des dommages directs ou indirects causés au matériel de l'utilisateur, lors de l'accès au site The Bird Realm, et résultant soit de l'utilisation d'un matériel ne répondant pas aux spécifications indiquées dans la section <strong>Informations Générales</strong>, soit de l'apparition d'un bug ou d'une incompatibilité.</p>
    </section>

    <section>
        <h3>5. Données Personnelles</h3>
        <p>Les informations recueillies sur ce site font l'objet d'un traitement destiné à mieux répondre aux demandes des utilisateurs. Conformément à la loi "informatique et libertés", vous disposez d'un droit d'accès et de rectification aux informations vous concernant. Pour exercer ce droit, veuillez nous contacter par email à : contact@oiseausite.fr</p>
    </section>
</article>
{% endblock %}